body {
    background-color: #0d0d0d;
}
h1 {
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
}
p {
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
}