body {
    background-color: #0d0d0d;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}
h1 {
    color: rgb(255, 240, 220);
    font-family: 'Courier New', Courier, monospace;
}
p {
    color: rgb(255, 240, 220);
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: rgb(255, 240, 220);
    font-family: 'Courier New', Courier, monospace;
}
pre {
    color: rgb(255, 240, 220);
    font-family: 'Courier New', Courier, monospace;
}
/* unvisited link */
a:link {
    color: rgb(255, 240, 220);
}

/* visited link */
a:visited {
    color: rgb(225, 210, 190);
}

/* mouse over link */
a:hover {
    color: rgb(215, 200, 180);
}

/* selected link */
a:active {
    color: rgb(225, 210, 190);
}

::-moz-selection { /* Code for Firefox */
    color: #0d0d0d;
    background: #639bff;
}

::selection {
    color: #0d0d0d;
    background: #639bff;
}